# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# APP_URL: The URL where this applet is hosted.
APP_URL=

# SUPABASE CREDENTIALS
SUPABASE_URL=https://gqwozzimuetdxgcsdgfg.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_wCRUtvGq_q3DerCI7vZ36w_IpFVb4j9
SUPABASE_SECRET_KEY=sb_secret_YMduGoOwPVmDIUFdy_f8iQ_sZVWYqrQ
SUPABASE_JWKS_URL=https://gqwozzimuetdxgcsdgfg.supabase.co/auth/v1/.well-known/jwks.json
